@font-face {
    font-family: 'Recoleta';
    src: url('/fonts/Recoleta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

		hr {
			margin-top: 30px;
			margin-bottom: 30px;
			border-color: black;
		}

    .playfair {
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
    }
 