@font-face {
    font-family: 'Recoleta';
    src: url('/fonts/Recoleta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

		hr {
			margin-top: 40px;
			margin-bottom: 40px;
			border-color: black;
		}