---
interface Props {
    title?: string | undefined;
}

const { title } = Astro.props;
---


    <div class="grid grid-cols-4 gap-x-10 gap-y-10 w-full mt-5 md:mt-10">
        <slot />
    </div>
</div>
