---
interface Props {
    title?: string | undefined;
}

const { title } = Astro.props;
---

<div class="p-5 border-2 rounded-md border-black w-full bg-white">
    <div class="flex flex-row">
    <h6 class="text-black  text-xl mb-4">{title}</h6>
</div>
    <hr class="mb-6 -mx-5 border-b border-black" />
    <div class="flex flex-row gap-x-10 text-sm">
        <slot />
    </div>
</div>
